@model IEnumerable<WebApplication1.Components.AdminMenuItem>

<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    My Restaurants<b class="caret"></b>
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    @foreach (var item in Model)
    {
        <a class="dropdown-item" asp-controller="Restaurant" asp-action=@item.ActionValue>@item.DisplayValue</a>
    }
</div>
