
@model Shared.BTO.BasketBTO

<div class="navbar-right">
    @Html.ActionLink("Checkout", "Index", "Basket", new { @class = "btn btn-default navbar-btn" })
</div>
<div class="navbar-text navbar-right">
    <b>Your cart:</b>
    @Model.ShoppingMeals.Sum(x => x.Quantity) item(s),
</div> 