@model Shared.BTO.PictureBTO

@{
    ViewData["Title"] = "CreatePicture";
}

<h1>Create a new Picture</h1>

<hr />
@if (ViewData["Error"]!=null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["Error"]
    </div>
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePicture">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" value="0" hidden="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsProfilePicture" /> Is this the profile picture of the restaurant?
                </label>
            </div>
            <div class="form-group">
                <input asp-for="Resto.Id" class="form-control" hidden="hidden" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create this picture" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-sm btn-secondary" asp-action="GetAllPicturesByRestoId" asp-route-id="@Model.Resto.Id">Back to List</a>
</div>

